<nav class="site-nav">
  <div class="nav-inner">
    <a class="nav-brand" href="{{ '/' | relative_url }}">MHD Budget</a>
    <a href="{{ '/' | relative_url }}the-debate.html">Debate</a>
    <a href="{{ '/' | relative_url }}what-is-the-override.html">Override</a>
    <a href="{{ '/' | relative_url }}how-we-got-here.html">History</a>
    <a href="{{ '/' | relative_url }}where-has-the-money-gone.html">Spending</a>
    <a href="{{ '/' | relative_url }}no-override-budget.html">No-Override</a>
    <a href="{{ '/' | relative_url }}why-not-elsewhere.html">Peer Towns</a>
    <a href="{{ '/' | relative_url }}senior-tax-relief.html">Senior Relief</a>
    <a href="{{ '/' | relative_url }}what-you-can-do.html">Civic Guide</a>
    <a href="{{ '/' | relative_url }}about.html">About</a>
  </div>
</nav>
